---
import { Icon } from "astro-icon/components";
---

<div class=`bg-white sticky top-[148px] h-78 px-8 py-4`>
    
<div> 
    
    <h2 class="text-2xl font-semibold ">আমাদের লক্ষ্য ও উদ্দেশ্য</h2>
    <div class="h-1 bg-black my-3"></div>
    <Icon size="42px" name="mdi:format-quote-open"></Icon>
    <p class="mx-8 text-center text-xl">আল্লাহ প্রদত্ত ও রাসূল (সাঃ) প্রদর্শিত বিধান অনুযায়ী মানুষের সার্বিক জীবনের পুনর্বিন্যাস সাধন করে আল্লাহর সন্তোষ অর্জন।</p>
   <div class=" w-full flex justify-end">
    <Icon class="" size="42px" name="mdi:format-quote-close"></Icon>
   </div>
</div>
</div>