---
import { Icon } from "astro-icon/components";
const { variableButtonClasses, buttonText}= Astro.props
---

<button
type="submit"
class=`flex  gap-2 items-center  shadow-xl text-lg  ${variableButtonClasses} backdrop-blur-md font-semibold border-gray-50 hover:transition-all  before:-left-full hover:left-0 hover:rounded-full  before:-z-10    relative z-10 px-4 py-2 overflow-hidden rounded group`
>
{buttonText}

<Icon size="28px" class= ` group-hover:text-black  text-primary justify-end group-hover:rotate-45 bg-secondary  ease-linear duration-300 rounded-full border border-primary  group-hover:border group-hover:border-gray-700  p-1` name="mdi:arrow-top-right" ></Icon>

</button>