---
import { Icon } from "astro-icon/components";
const {bg}= Astro.props
---

<button
type="submit"
class=`flex  gap-2 items-center  shadow-xl text-lg hover:bg-[#D4F4FF] backdrop-blur-md lg:font-medium border-gray-50 hover:text-black hover:transition-all  before:-left-full hover:left-0 hover:rounded-full ${bg} text-gray-50 before:-z-10    relative z-10 px-4 py-2 overflow-hidden rounded group`
>
সমর্থক হোন

<Icon size="28px" class= "group-hover:text-black  text-primary justify-end group-hover:rotate-45 bg-gray-50  ease-linear duration-300 rounded-full border border-primary  group-hover:border group-hover:border-gray-700  p-1" name="mdi:arrow-top-right" ></Icon>

</button>