---
import { Image } from 'astro:assets';
import logo from '../../../assets/logo.svg'
---


<div class="w-full sticky top-0 h-18 z-10  text-secondary header">
  <div class=" bg-primary absolute w-full h-full z-[-1] header-bg">

  </div>
  <div class="  flex items-center  mx-24 justify-between h-full header-content">
    <div class="flex items-center gap-4 header-inner mt-[-68px]">
     <div class="w-[96px] header-img">
       <Image src={logo} alt='logo'></Image>
     </div>
     <div class="header-text flex flex-col">
       <h3 class="text-3xl font-semibold  ">বাংলাদেশ ইসলামী ছাত্রশিবির</h3>
       <h4 class=" text-secondary text-xl font-medium">চট্টগ্রাম বিশ্ববিদ্যালয়</h4>
     </div>
    </div>
   
   <div class="flex items-center text-xl header-menu ">
       <a href="/"><span class="box">
             
        হোম</span></a>
       <a href="/start-learning/"><span class="box">
             
        সংক্ষিপ্ত পরিচিতি</span></a>
       <a href="/tutorial/"><span class="box">
             
        দায়িত্বশীলবৃন্দ</span></a>
       <a href="/about/"><span class="box">
             
        ব্লগ</span></a>
       
       
   </div>
       
   </div>
</div>
  <style>

    :root{
      --secondary:#d4f4ff
    }
    /* navbar animation */
    .header-bg{
      transform-origin: left top;
      animation: shrink-header linear forwards;
      animation-timeline: scroll();
      animation-range: 52px 200px;

    }
    @keyframes shrink-header{
      to{
        transform: scaleY(0.9);
      }
    }
    .header-img{
      transform-origin: left top;
      animation: shrink-image linear forwards;
      animation-timeline: scroll();
      animation-range: 0% 200px;

    }
    @keyframes shrink-image{
      to{
        transform: scale(0.6) translateY(82px);
      }
    }
    .header-text{
      color: black;
      transform-origin: left top;
      animation: shrink-text linear forwards;
      animation-timeline: scroll();
      animation-range: 0% 200px;

    }
    @keyframes shrink-text{
      from{
        gap: 6px;
        color: black;
      }
      to{
       gap: 0px;
        color: white;
        transform: scale(0.8) translateX(-52px)  translateY(52px);
      }
    }
    .header-menu{
      transform-origin: left top;
      animation: shrink-menu linear forwards;
      animation-timeline: scroll();
      animation-range: 52px 200px;

    }
    @keyframes shrink-menu{
      to{
        transform: scale(0.8) translateY(4px) translateX(96px);
      }
    }


   /* menu item animation */ 
.box {

  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 12px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}



.box:hover:before {
  border-color: #D4F4FF;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #D4F4FF;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}


  </style>