---
import { Image } from "astro:assets";
import shibirprofile from "../../assets/logo.svg"
import PrimaryButton from "../buttons/PrimaryButton.astro";
---
    
<div class="px-24   py-6 ">
    <h2 class="text-4xl font-semibold text-center text-primary mb-8">সংক্ষিপ্ত পরিচিতি</h2>
<div class="flex gap-8">

    <div class="w-1/2 p-8  bg-primary text-white rounded-xl">
   
       
        <h3 class="text-3xl my- font-medium">বাংলাদেশ ইসলামী ছাত্রশিবির</h3>
        <p class="my-3">দেশের প্রতিটি জনপদে কাজ করে যাচ্ছে বাংলাদেশ ইসলামী ছাত্রশিবির। 
            শিবির একজন তরুণকে একই সাথে একজন ভাল ছাত্র ও একজন ভাল মুসলমান 
            হিসেবে গড়ে তুলতে চেষ্টা করে। ইসলাম সকল মানুষের কল্যাণের জন্য; তাই ইসলামী 
            ছাত্রশিবির মুসলমান, হিন্দু, বৌদ্ধ ও খ্রিস্টানসহ সবার কাছে ইসলামের সুমহান সৌন্দর্যকে 
            সুন্দরভাবে তুলে ধরার কর্মসূচি নিয়ে এগিয়ে যাচ্ছে। তাই এই সুন্দর কর্মসূচি ও চরিত্রবান 
            কর্মীদের প্রতি দিন দিন জনসমর্থন বাড়ছে। আসুন, আপনিও শিবিরের পতাকাতলে সমবেত 
            হয়ে নিজেকে গড়ে তুলুন সুন্দর ও যোগ্যতম ব্যক্তি হিসেবে। শরিক হউন ইহকাল ও পরকালের 
            মুক্তিকামী মানুষের এই কাফেলায়।</p>
            <PrimaryButton variableButtonClasses="hover:bg-secondary bg-[#25b0e5] hover:text-black text-secondary"  buttonText="বিস্তারিত দেখুন"></PrimaryButton>
    </div>
    <!-- <div class="w-1/2 h-72 ">
        <Image class="h-full" src={shibirprofile} alt="shibir-profile"></Image>
    </div> -->
    <div class="card w-1/2 py-8 bg-secondary rounded-xl ">
        
        <div class=" flex flex-col gap-12 py- items-center justify-center">
            <Image class="w-2/5" src={shibirprofile} alt="shibir-profile"></Image>
            <h1 class="text-4xl font-semibold text-primary">বাংলাদেশ ইসলামী ছাত্রশিবির</h1>
        </div>
      </div>
</div>
</div>

