<div class="cards flex justify-between mx-24 my-16 text-3xl gap-8">
    <div class="card bg-[#25b0e5]">
        <p class="tip">সমর্থক ফরম</p>
        
    </div>
    <div class="card  bg-[#9F4C99]">
        <p class="tip">সংবাদ</p>
       
    </div>
    <div class="card bg-[#00C7E4]">
        <p class="tip">সিলেবাস</p>
        
    </div>
    <div class="card bg-[#6C84D4]">
        <p class="tip">শিক্ষাবৃত্তির আবেদন </p>
        
    </div>
</div>

<style>


.cards .card {
    padding: 24px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    width: 100%;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}




.cards .card:hover {
  transform: scale(1.1, 1.1);
}


</style>