---
import { Icon } from 'astro-icon/components'
---

<div class="flex gap-8 justify-end items-center mx-12 my-2">
    <div class="flex bg-[#D4F4FF] py-2 px-8 gap-8 rounded-full">
        <a href="https://www.youtube.com/@cushibir77" target="_blank"><Icon size='28px' name="logos:youtube-icon"></Icon></a>
    <a href="https://www.facebook.com/cushibir" target="_blank"><Icon size='28px' name="logos:facebook"></Icon></a>
    <a href="https://t.me/cushibir" target="_blank"><Icon size='28px' name="logos:telegram"></Icon></a>
    </div>
    <button
    type="submit"
    class="flex  gap-2 items-center  shadow-xl text-lg hover:bg-[#D4F4FF] backdrop-blur-md lg:font-medium border-gray-50 hover:text-black hover:transition-all  before:-left-full hover:left-0 hover:rounded-full bg-primary text-gray-50 before:-z-10    relative z-10 px-4 py-2 overflow-hidden rounded-full group"
  >
  সমর্থক হোন

    <Icon size="28px" class=" group-hover:text-black text-primary justify-end group-hover:rotate-45 bg-gray-50  ease-linear duration-300 rounded-full border border-primary  group-hover:border group-hover:border-gray-700  p-1" name="mdi:arrow-top-right" ></Icon>
   
  </button>

    <!-- <button class="button flex gap-2 items-center  px-4 py-2">   
        <div class="text">সমর্থক হোন</div>
        <Icon class="svg" name="mdi:arrow-right" size="24px"></Icon>
      </button> -->
      

</div>

